@import '../../index.scss';

.main {
  margin-top: 124px;
  height: calc(100svh - 124px);
  background-image: url(./img/bg1.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  @media (max-width: $mobile) {
    margin-top: 55px;
    height: calc(100svh - 55px);
  }
  &__items {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 160px;
    @media (max-width: $mobile) {
      padding-top: 120px;
    }
    @media (max-width: $mobileSmall) {
      padding-top: 90px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 97px 60px;
    border: solid 4.5px white;
    @media (max-width: $mobile) {
      padding: 50px 30px;
    }
    @media (max-width: $mobileSmall) {
      padding: 30px 20px;
    }
  }
  &__logo {
    position: relative;
    width: 185px;
    height: 78px;
    &::after {
      content: '';
      position: absolute;
      bottom: 3px;
      width: 100%;
      height: 2px;
      background-color: white;
      right: 50%;
      transform: translate(50%, 0);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.47px;
    text-align: center;
    margin-top: 5px;
  }
  &__text {
    text-transform: uppercase;
    margin-top: 85px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    max-width: 730px;
    @media (max-width: $tablet) {
      margin-top: 50px;
    }
    @media (max-width: $mobile) {
      margin-top: 30px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}
