@import '../../index.scss';

.useful-info {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #0f0f0f;
  @media (max-width: $tablet) {
    padding-bottom: 50px;
  }
  @media (max-width: $mobile) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__title {
    text-transform: uppercase;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 47.99px;
    text-align: center;
    position: relative;
    padding-bottom: 37px;
    margin-bottom: 57px;
    letter-spacing: 0.5px;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 120px;
      height: 1px;
      background-color: white;
      right: 50%;
      transform: translate(50%, 0);
    }
    @media (max-width: $tablet) {
      padding-bottom: 20px;
    }
    @media (max-width: $mobile) {
      font-size: 25px;
      padding-bottom: 10px;
    }
  }
  &__column {
    margin-top: 30px;
  }
  &__item {
  }
}

.item-useful-info {
  display: flex;

  @media (max-width: $tablet) {
    flex-wrap: wrap;
    padding: 0 15px;
  }

  &__photo {
    flex: 0 0 51.5%;
    height: 437px;
    overflow: hidden;
    @media (max-width: 1750px) {
      // flex-wrap: wrap;
      flex: 0 1 51.5%;
    }
    @media (max-width: $tablet) {
      flex: 1 1 auto;
    }
    @media (max-width: 1750px) {
      height: auto;
    }
    img {
      object-fit: cover;
      width: 100%;
      @media (max-width: 1750px) {
        height: 100%;
      }
    }
  }
  &__description {
    flex: 0 0 48.5%;
    margin: 53px 20px 0 145px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1750px) {
      // flex-wrap: wrap;
      flex: 0 1 48.5%;
      margin-left: 30px;
    }
    @media (max-width: $tablet) {
      flex: 1 1 auto;
      margin: 10px 0 0;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.29px;
    letter-spacing: 0.1em;
    text-align: left;
  }
  &__text {
    max-width: 628px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-top: 14px;
  }
  &__extra {
    display: flex;
    max-width: 628px;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: $mobile) {
      flex-wrap: wrap;
    }
  }
  &__button {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.29px;
    letter-spacing: 0.1em;
    margin-top: 40px;
    text-transform: uppercase;
    padding: 11px 26px;
    border: 1px solid white;
    opacity: 0px;
    display: inline-block;
    letter-spacing: 2px;
    transition: all 0.3s;
    &:hover {
      background: #1f1f1fb3;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    @media (max-width: $tablet) {
      justify-content: flex-start;
    }
  }
  &__tag {
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.29px;
    letter-spacing: 0.1em;
  }
}
