@import '../../index.scss';

.partners {
  background-color: #0f0f0f;
  padding: 10px 15px;
  padding-bottom: 106px;
  &__title {
    letter-spacing: 0.8px;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 47.99px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 46px;
    @media (max-width: $mobile) {
      font-size: 25px;
      padding-bottom: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 120px;
      height: 1px;
      background-color: white;
      right: 50%;
      transform: translate(50%, 0);
    }
    @media (max-width: $tablet) {
      padding-bottom: 20px;
    }
    @media (max-width: $mobile) {
      font-size: 25px;
      padding-bottom: 10px;
    }
  }
  &__items {
    @media (max-width: $mobile) {
      margin-top: 30px;
    }
    margin-top: 66px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    img {
      max-width: 100%;
    }
  }
}
