@import '../../index.scss';

.collections {
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;

    @media (max-width: 1450px) {
      flex-direction: column;
      gap: 80px;
      max-width: 80%;
      margin: 0 auto;
    }
    @media (max-width: $mobile) {
      gap: 20px;
    }
  }
  &__item {
    height: 730px;
    &_2 {
      height: 600px;
    }
  }
}

.item-collections {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 0 1 53%;
  &__title {
    margin-top: 93px;
    font-family: 'Playfair Display';
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    line-height: 47.99px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    @media (max-width: $mobile) {
      margin-top: 20px;
      padding-bottom: 10px;
    }
    @media (max-width: $mobile) {
      font-size: 25px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 120px;
      height: 1px;
      background-color: white;
      right: 50%;
      transform: translate(50%, 0);
    }
  }
  &__article {
  }
}
.new-item-collections {
  flex: 0 1 45%;
  background-image: url(./img/bg1.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1450px) {
    max-width: 100%;
    padding: 200px 0;
  }
  @media (max-width: $tablet) {
    padding: 120px 0;
  }
  @media (max-width: $mobileSmall) {
    padding: 100px 0;
  }
  &__title {
    margin-top: 484px;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 47.99px;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    @media (max-width: 1450px) {
      margin-top: 0;
    }
    @media (max-width: $tablet) {
      padding-bottom: 20px;
    }
    @media (max-width: $mobile) {
      font-size: 25px;
      padding-bottom: 10px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 120px;
      height: 1px;
      background-color: white;
      right: 50%;
      transform: translate(50%, 0);
    }
  }
  &__button {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 30px auto 0;
    padding: 12px 28px;
    border: 1px solid white;
    opacity: 0px;
    display: inline-block;
    transition: all 0.3s;
    font-size: 18px;
    &:hover {
      background: #1f1f1fb3;
    }
  }
}
.article-item-collections {
  margin-top: 50px;
  &__items {
    display: flex;
    justify-content: center;
    gap: 50px;
    @media (max-width: $tablet) {
      flex-wrap: wrap;
    }
  }
  &__item {
    flex: 0 1 260px;
    display: flex;
    flex-direction: column;
  }
  &__photo {
    background-color: #191b1c;
    text-align: center;
    padding: 27px 0 34px;
    img {
      width: 215px;
      height: 264px;
    }
  }
  &__title {
    font-family: Playfair Display;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.99px;
    text-align: left;
    padding-top: 25px;
  }
  &__price {
    padding-top: 10px;
    font-family: Playfair Display;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.33px;
    text-align: left;
    letter-spacing: 0.5px;
  }
}
.photo-item-collections {
  @media (max-width: 1450px) {
    display: none;
  }
  flex: 0 1 49%;
  background-image: url(./img/bg2.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  @media (max-width: 1450px) {
    display: none;
  }
}

.other-item-collections {
  flex: 0 1 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1450px) {
    padding-top: 20px;
  }
  &__title {
    margin-top: 93px;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 400;
    line-height: 47.99px;
    text-align: center;
    position: relative;
    padding-bottom: 32px;
    text-transform: uppercase;
    @media (max-width: $tablet) {
      margin-top: 0px;
      padding-bottom: 20px;
    }
    @media (max-width: $mobile) {
      font-size: 25px;
      padding-bottom: 10px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 120px;
      height: 1px;
      background-color: white;
      right: 50%;
      transform: translate(50%, 0);
    }
  }
  &__text {
    max-width: 628px;
    margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
  }
  &__button {
    margin-top: 64px;
    text-transform: uppercase;
    padding: 12px 28px;
    border: 1px solid white;
    opacity: 0px;
    display: inline-block;
    letter-spacing: 2px;
    transition: all 0.3s;
    &:hover {
      background: #1f1f1fb3;
    }
  }
}
