@import 'index.scss';

.wrapper {
  min-height: 100svh;
  overflow: hidden;
  background-color: transparent;
  // background-color: blue;
  // .page {
  // padding-top: 84px;
  // }
  // Притискаємо footer
  // > main {
  // }
  // Фікс для слайдерів
  // > * {
  // min-width: 0;
  // }
}
