$minWidth: 320px;
// Ширина полотна (макету)
// $maxWidth: 0;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1080px;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30px;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

$pc: $containerWidth;
// ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: 1024px; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // Телефони L
$mobileSmall: 479.98px; // Телефони S
$moblieSuperSmall: 374.98px;

$fontFamily: 'PT Sans'; // main font family
$fontSize: 14px; // main font size

// Основні кольори
$mainColor: white; // Колір шрифту за замовчуванням
$mainHoverColor: white; // Колір шрифту за замовчуванням
$secondColor: gray; // Колір шрифту за замовчуванням
$mainBackgroundColor: black;

html,
body {
  height: 100%;
  min-width: $minWidth + px;
  margin: 0;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
h1,
p,
button {
  padding: 0;
  margin: 0;
}
body {
  background-color: $mainBackgroundColor;
  color: $mainColor;
  line-height: 1;
  font-family: $fontFamily;
  font-size: $fontSize;
  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
  font-family: $fontFamily;
  font-size: inherit;
  border: none;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}
svg path {
  stroke: inherit;
  fill: inherit;
}
